.grid__top {
  margin-bottom: 1rem;
}

.grid__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--font-medium);
}

.grid__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .grid__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .grid__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .grid__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
